.wrapper{
    background: #F8F8F8;
    height: 100vh;
}
.navBar{
    background: white;
    height: 58px;
    width: 100%;
    display: block;
    box-shadow: 0 6px 6px -6px #343434;
    border-bottom: 1px solid black;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
}
.logo{
    width: 8%;
    font-size: 1.2em;
    margin:20px 0 0 0;
    bottom: 7px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    position:relative;
    float: left;
    color: #FF9240;

}
.tags{
    height: 100%;
    position:relative;
    float:left;
    width: 30%;
}
.tags li a {
    display:block;
    height: 30px;
    text-decoration: none;
    color: black;
    font-size: 1.0em;
}
.tags li{
    height: 50%;
    border-right: 1px solid #FF9240;
    padding:0 5% 0 5%;
    margin:20px 0 10px 0;
    float: left;
    list-style-type:none;
    text-decoration:none;
    color: black;
}
.tags li a{
    height:34px;
}
.tags .unActiveLink:after {
    margin-bottom: 15px;
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid #FF9240;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.tags .unActiveLink:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.tags ol{
    margin:0;
    text-align: left;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.tags .activeLink a{
    border-bottom: 3px solid #FF9240;
}
.inputArea{
    top: 40%;
    float: left;
    width: 220px;
    position: relative;
}
.inputArea input{
    float: left;
    position: relative;
    left:0;
    bottom: 2px;
    height: 20px;
    width: 180px;
}

.inputArea svg{
    position: relative;
    right:25px;
}
nav{
    position: relative;
    left:20%;
    height: 100%;
    width: 1000px;
}
.askQuestionWrapper{
    width: 200px;
    height: 100%;
    position: relative;
    float: left;
}

.askQuestionWrapper button{
    float: left;
    border: 1px solid #FF9240;
    position: relative;
    height: 30px;
    top: 18px;
    padding:1px 0 0 0;
}

.askQuestionWrapper #askQuestionButton{
    width: 100px;
}

.askQuestionWrapper #postArticleButton{
    width: 80px;
    margin-left: 20px;
}

.askQuestionWrapper span{
    font-size: 0.9em;
    color: #FF9240;
}
.accountIcon{

    float: left;
    width: 5%;
    height: 30px;
    position: relative;
    top:14px;
    left: 10px;
}
.accountIcon:hover{
    cursor: pointer;
}
.accountIcon svg{
    width: 40px;
    height: 40px;
    color: #906604;
}
.askQuestionPage{
    position: fixed;
    left: 0;
    top: 58px;
    width: 100vw;
    height: 92%;
    z-index: 2;
    overflow: auto;
}
.askQuestionPageBackGround{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(62, 62, 62, 0.5);
    height: 100vh;
    opacity:0.5;
    filter: alpha(opacity=50)
}
.is-active{
    color: #09d3ac;
}