.ProfileSettingListItem{
    margin:0;
    width: 90%;
    height: 85px;
    position: relative;
    left: 30px;
    border-bottom: 1px rgba(0, 0, 0, 0.29) solid;

}
.ProfileSettingListName{
    float: left;
    position: relative;
    left: 20px;
    width: 25%;
    height:84px;

}
.ProfileSettingListName p{
    margin:0;
    position: relative;
    font-size: 15px;
    font-family: Calibri;
    top:40%;
}
.ProfileSettingListContent{
    width:50%;
    float: left;
    height:84px;

}
.ProfileSettingListContent .majorYearPicker{
    position: relative;
    top:20px;
}
.ProfileSettingListContent p{
    margin:0;
    position: relative;
    font-size: 15px;
    font-family: Calibri;
    top:40%;
}
.ProfileSettingChange{
    width: 20%;
    float: left;
    height:84px;
    text-align: center;
}
.ProfileSettingChange p {
    margin:0 0 0 20px;
    left: 20px;
    position: relative;
    font-size: 15px;
    float: left;
    font-family: Calibri;
    top:40%;
    color:#169BD5 ;
}
.ProfileSettingListContent input{
    margin-top:33px;
    position: relative;
}
.ProfileSettingListContent #nameInput{
    width: 80px;
    margin-left: 10px;
}
.ProfileSettingChange p:hover{
    cursor: pointer;
}
.profileSettingOverview{
    height: 70px;
    width: 90%;
    position: relative;
    left:30px;
    border-bottom: 1px rgba(0, 0, 0, 0.29) solid;
}

.profileSettingOverview svg{
    width: 40px;
    height: 40px;
    position: relative;
    left:20px;
    top:10px;
    color: #906604;
}
.profileSettingOverview img{
    width: 40px;
    height: 40px;
    position: relative;
    left:20px;
    top:8px;
    border: 1px solid rgba(188, 188, 188, 0.49);
    border-radius: 50px;
}
.profileSettingOverview #introduction{
    float: right;
    height: 100%;
    width: 50%;
    position: relative;
    right:38%;
}
.profileSettingOverview #introduction h1{
    margin: 0;
    font-size: 15px;
    font-family: Calibri;
    position: relative;
    top:10px;
}
.profileSettingOverview #introduction span{
    font-size: 15px;
    font-family: Calibri;
    margin:0;
    position: relative;
    top:8px;
    color: rgba(52, 52, 52, 0.78);
}