.profileQuestion{
    width: 500px;
    min-height: 203px;
    background: white;
    padding:16px 51px 23px 51px;
    position: relative;
    box-shadow: 0 0 3px #BCBCBC;
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-top:10px;

    -webkit-animation: fadeinSlideUp 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinSlideUp 1.5s; /* Firefox < 16 */
    -ms-animation: fadeinSlideUp 1.5s; /* Internet Explorer */
    -o-animation: fadeinSlideUp 1.5s; /* Opera < 12.1 */
    animation: fadeinSlideUp 1.5s;

}