.questionAnswerWrapper{
    overflow: auto;
    height: 94vh;
    width: 100%;
    position: fixed;
    top: 60px;
}
.questionAnswerContent{
    width: 850px;
    position: relative;
    left:20%;
}

.question{
    width: 746px;
    min-height: 280px;
    padding:16px 51px 23px 51px;
    background: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-top:10px;

}
.answers{
    height: 1200px;
    position: relative;
    width: 746px;
    top:20px;
}
.answer{
    position:relative;
    width: 746px;
    min-height: 250px;
    padding:16px 51px 23px 51px;
    background: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-top:10px;

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.questionAnswerGap{
    position: relative;
    top: 30px;
    height: 33px;
    width: 100%;
}
.questionAnswerGap button{
    height: 100%;
}
.questionAnswerGap p{
    position: relative;
    left: 0;
    margin: 0;
    float: left;
}

.sortingSelection{
    position: relative;
    height: 100%;
    bottom: 10px;
    float: right;
    background: white;
}
.commentInputArea{
    height: 40px;
    padding:15px 0 10px 50px;
    width: 93%;

}
.commentInputArea input{
    height: 30px;
    width: 80%;
    padding-left: 10px;
}
.commentInputArea button{
    float: right;
    width: 60px;
    position: relative;
    right:10px;
    height:35px;
    background: rgba(255, 146, 64, 0.24);
    text-align: center;
}
.commentInputArea span{
    position: relative;
    color: rgb(255, 146, 64);
    font-weight: bold;
    font-size: 0.9em;
}
.dividerBetweenAnswerAndComments{
    margin-top:20px;
    border-bottom: 1px solid rgba(73, 73, 73, 0.62);
}
.commentInputArea h2{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: rgba(207, 0, 0, 0.85);
}


