.questionAnswerWrapper{
    overflow: auto;
    height: 94vh;
    width: 100%;
    position: fixed;
    top: 60px;
}
.questionAnswerContent{
    width: 850px;
    position: relative;
    left:20%;
}

.question{
    width: 746px;
    min-height: 280px;
    padding:16px 51px 23px 51px;
    background: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-top:10px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.answers{
    height: 1200px;
    position: relative;
    width: 746px;
    top:20px;
}
.answer{
    position:relative;
    width: 746px;
    min-height: 250px;
    position: relative;
    padding:16px 51px 23px 51px;
    background: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-top:10px;

    -webkit-animation: fadeinSlideUp 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinSlideUp 1.5s; /* Firefox < 16 */
    -ms-animation: fadeinSlideUp 1.5s; /* Internet Explorer */
    -o-animation: fadeinSlideUp 1.5s; /* Opera < 12.1 */
    animation: fadeinSlideUp 1.5s;
}

.questionAnswerGap{
    position: relative;

    height: 50px;
    width: 100%;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.questionAnswerGap button{
    height: 100%;
    border-radius: 6px;
}

.questionAnswerGap p{
    position: relative;
    left: 0;
    font-size: 15px;
    font-family: Calibri;
    margin: 0;
    top:20px;
    float: left;
}

.sortingSelection{
    position: relative;
    top:10px;
    float: right;
    background: white;
}
.commentInputArea{
    min-height: 20px;
    padding:15px 0 10px 40px;
    width: 93%;

}
.commentInputArea textarea{
    width: 80%;
    padding:10px 0 10px 10px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.commentInputArea button{
    float: right;
    width: 60px;
    position: relative;
    right:5px;
    top:5px;
    height:35px;
    background: rgba(255, 146, 64, 0.24);
    text-align: center;
}
.commentInputArea span{
    position: relative;
    color: rgb(255, 146, 64);
    font-weight: bold;
    font-size: 0.9em;
}
.dividerBetweenAnswerAndComments{
    margin-top:20px;
    border-bottom: 1px solid rgba(73, 73, 73, 0.62);
}
.commentInputArea h2{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: rgba(207, 0, 0, 0.85);
}


