.questionAnswerWrapper{
    overflow: auto;
    height: 94vh;
    width: 100%;
    position: fixed;
    top: 60px;
}
.questionAnswerContent{
    width: 40%;
    position: relative;
    left:20%;
}

.question{
    min-height: 350px;
}
.answers{
    height: 1200px;
    position: relative;
    top:70px;
}
.answer{
    position:relative;
    min-height: 300px;
}
.questionAnswerGap{
    background: #906604;
    position: relative;
    top: 30px;
}

.questionAnswerGap p{
    position: relative;
    left: 0;
    margin: 0;
    float: left;
}

.sortingSelection{
    position: relative;
    bottom: 10px;
    float: right;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.13);
}


