.searchPageWrapper{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 92%;
    margin:0;
    align-content: center;
    overflow: auto;

}
.searchResultAndFilter{
    float: left;
    width: 600px;
}
.searchPageContent{
    float: left;
    width: 900px;
    left: 20vw;
    position: relative;
    height: 100%;
}
.filterWrapper{
    box-shadow: 0 0 3px #BCBCBC;
    padding:20px 50px 10px 50px;
    min-height: 100px;
    background: white;
    position: relative;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
.searchResultWrapper{
    width: 600px;
    min-height: 500px;
    position: relative;
}
.topicFilters{
    min-height: 50px;
    position: relative;
    overflow: hidden;
}
.topicFilter{
    height: 20px;
    position: relative;
    float: left;
    min-width: 90px;
    border-radius: 6px;

    text-align: center;
    padding:5px 5px 5px 5px;
    font-size: 13px;
    margin:0 10px 10px 0;
}
#selectedTopic {
    background: rgba(255, 146, 64, 0.27);
}
.topicFilter:hover{
    background: rgba(107, 107, 107, 0.2);
    cursor: pointer;
}
.topicFilter span{
    position: relative;
}
.topicFilterHeader{
    height: 50px;
}

.topicFilterHeader h1{
    margin:5px 0 0 0;
    font-size: 15px;
    font-family: Calibri;
    font-weight: normal;
    float: left;
}
.addNewTopicArea{
    float:right;
    width: 100px;
    height: 30px;
}
.addNewTopicArea input{
    width: 114px;
}
.topicFilterSearchDropdown{
    width: 114px;
}