.tutoringApplicationWrapper{
    min-height: 300px;
    width:88%;
    display: block;
    padding:20px 6% 27px 6%
}
.tutoringApplicationHeader{
    min-height: 176px;
    border-bottom: 1px solid #6B6B6B;
}
.tutoringApplicationBottomPart h2{
    font-size: 18px;
    font-family: Calibri,serif;
    font-weight: normal;
}
.tutoringApplicationHeader p{
    margin-top:10px;
    font-family: Calibri, serif;
    font-size: 15px;
    font-weight: normal;
}
.tutoringApplicationHeader h1{
    margin-top:10px;
    font-family: Calibri, serif;
    font-size: 20px;
    font-weight: normal;
}

.tutoringApplicationHeader h2{
    font-size: 18px;
    color: black;
    font-weight: normal;
}

.tutoringDetailItem{
    display: flex;
    min-height: 20px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tutoringDetailItem h3{
    font-size: 15px;
    font-weight: normal;
    color: #797979;
    margin: 0;
}
.tutoringDetailItem p{
    text-align: right;
    margin: 0;
    font-family: Calibri, serif;
    font-size: 15px;
    width: 40%;
}
.tutoringApplicationWrapper button{
    width: 281px;
    display: block;
    margin: auto;
}