.signInRegisterButtonBar{
    height: 100px;
    width: 100%;

}
.signInRegisterButtonWrapper{
    height: 100px;
    width: 300px;
    float: right;
}
.signInRegisterButtonWrapper button{
    margin-right:20px;
    color: #fff7e5;
    background: #55a7ff;
}
